
* {
    box-sizing: border-box;
}

.card3 {
    width: 600px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid white;
    position: relative;
    margin: 20px;
}

.card3-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}


.card3-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #00000094;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    display: block;
    transition: 1.5s;
    overflow-y: auto;
}

.card3:hover .card3-body {
    right: 0;
}

.card3-title {
    font-size: 50px;
    font-weight: 500;
}

.card3-sub-title {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}

.card3-info {
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
}

.card3-btn {
    color: #1f3d47;
    background: #8fabba;
    width: 120px;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 768px) {
    .card3 {
        width: 400px;
        height: 200px;
    }
    
    .card3-body {
        width: 100%;
        height: 100%; 
        right: -100%;
        overflow-y: auto;
        
    }

    .card3-title {
        font-size: 30px;
        
    }

    .card3:hover .card3-body {
        right: 0;
    }
}

@media (max-width: 400px) {
    .card3 {
        width: 300px;
        height: 150px;
    }
    
    .card3-body {
        width: 100%;
        height: 100%; 
        right: -100%;
        overflow-y: auto;
        
    }

    .card3-title {
        font-size: 17px;
        
    }

    .card3:hover .card3-body {
        right: 0;
    }
}